.background {
    height: 100vh;
    width: 100vw;
    z-index: -1000;
    position: absolute;
    top: 0%;
}

.waves {
    position: absolute;
    bottom: 0%;
    left: 0%;

    width: 2880px;
    height: 20%;

    animation: scale 12s ease-in-out infinite;
    transform-origin: bottom center;

    path {
        animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
        fill: var(--red);

        animation-delay: -2s;
        animation-duration: 10s;
    }
}

@keyframes scale {
    0% {
        transform: scaleY(0.7);
    }

    50% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(0.7);
    }
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}