:root {
    --bg: #1c1c28;
    --bg-light: #28293d;
    --bg-dark: #111119;

    --green: #49a849;
    --red: #f94d58;
    --blue: #08647e;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    text-align: center;
    background-color: var(--bg);
    color: white;
    padding: 0;
    margin: 0;
}

input {
    color: white;
    padding: 0.5rem;
    font-size: 1.3rem;
    background-color: var(--bg-light);
    outline: none;
    border: none;

    &:focus {
        outline: var(--green) solid 2px;
    }
}


.button {
    width: 95%;
    max-width: 15rem;

    cursor: pointer;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    font-size: 1.5rem;
    color: white;

    border: none;

    transition: 0.1s;

    margin: 1rem;

    &:disabled {
        pointer-events: none;
        opacity: 0.5;
    }
    &:hover {
        filter: brightness(80%);
        scale: 1.04;
    }
    &:active {
        scale: 1.04;
    }
    // maybe use inline styling for this
    &.green {
        background-color: var(--green);
    }
    &.grey {
        background-color: #777980;
    }
    &.small {
        padding: 0.5rem;
        font-size: 1rem;
    }
}